install.zip
install
.vscode
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
config.py
compile_commands.json
CTestTestfile.cmake
_deps
*.so
.idea
__pycache__
cmake-build-release
cmake-build-debug
pi/.idea/
pi/cmake-build-debug/
NCSRecognition
build/
